{% extends 'dashboard/base.html' %}

{% block title %}Ajout etablissement | InternSmart{% endblock title %}
{% block page %}Nouvel Etablissement{% endblock page %}
{% block content %}


<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">

                <div class="col-lg-7">
                    <div class="p-5">



                        <form  method="post" action="">
                            {% csrf_token %}

                            <div class="form-group">
                                <!--<input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                       placeholder="Adresse mail de l'ecole">-->
                                {{form.nomEtablissement.help_text}}
                                {{form.nomEtablissement}}
                            </div>
                            <div class="form-group">
                                {{form.telephone.help_text}}
                                {{form.telephone}}
                            </div>
                            <div class="form-group">
                                {{form.email.help_text}}
                                {{form.email}}
                            </div>
                            <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        {{form.ville.help_text}}
                                        {{form.ville}}

                                    </div>
                                    <div class="col-sm-6">
                                        {{form.pays.help_text}}
                                        {{form.pays}}
                                    </div>
                                </div>

                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Creer Le compte de l'etablissement
                                </button>
                            <hr>


                        </form>



                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}
